@import url('sticky_footer.css');

body {
  /*font-size: 12px !important;*/
  background: url('../imgs/f5f5f5.png') repeat;
}

input, textarea, select, option{
  /*font-size: 12px !important;*/
}

#wrap > .container-fluid {
  padding-top: 60px;
}

.money, .right-text,.decimal{
  text-align: right !important;
}

