body {
  background: url('../imgs/serenity.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./imgs/serenity.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/serenity.jpg', sizingMethod='scale')";
}

.form-signin {
  max-width: 400px;
  padding: 49px 59px 59px;
  margin: 0 auto 20px;
  background-color: rgba(0,0,0,.7);
  border-radius: 7px;
}
.form-signin h2.form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

h2.form-signin-heading{
  text-align: left;
  font-size: 45px;
  color: rgba(255,255,255,.8);
  text-shadow: 0 0 8px rgba(255,255,255,.5);
}
h5.form-signin-heading{
  text-align:right;
  color:#cccccc;
  font-size:16px;
  margin-top:-5px;
  margin-bottom:-2px;
  text-shadow:0 0 5px #555555;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#wrap > .container {
  position: absolute;
  margin-top: -200px;
  top: 50%;
}